@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');
@import url(./secondContent.css);
@import url(./thirdContent.css);
@import url(./footer.css);
@import url(./util.css);
@import url(./fourthContent.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    overflow-x: hidden;
}



:root {
    --red: #759293;
    --red2: #93b3b4;
    --main-font: "Bebas Neue", sans-serif;
    --second-font: "Big Shoulders Stencil", sans-serif;
    --second-white: rgb(156, 154, 154);
    --alike-font: "Alike", serif;
}


.hidden {
    display: none;
}

.no-overflow {
    overflow-y: hidden;
    height: 100vh;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    background-color: var(--red);
}

.header-logo img {
    width: 100px;
}

.header-menu-hamburguer {
    display: flex;
    background-color: white;
    border-radius: 5px;
    border-radius: 50%;
    padding: 10px;
}


.img-first-content {
    width: 100vw;
    height: 70vh;
    overflow-x: hidden;
    background-image: url(../img/Img_banner_tapetes.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(70%);
}

.container-first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: black;
    position: absolute;
    color: white;
    top: 33%;
    padding: 30px;
    text-align: center;
}

.first-content h1 {
    font-size: 35px;
    padding: 0px 35px;
}

.first-content p {
    font-family: var(--alike-font);
    font-size: 25px;
    font-weight: 700;
    padding: 15px 35px;
}
.btn-first-content {
    width: 200px;
    font-size: 25px;
    background-color: var(--red);
    border: none;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.div-line {
    width: 35%;
    height: 2px;
    background-color: white;
}

.div-line-secundario {
    background-color: var(--red);
}

.h1-white h1{
    font-size: 50px;
    color: white;
}

.h1-green h1{
    font-size: 50px;
    color: var(--red);
}

.p-white p{
    font-size: 16px;
    color: white;
}

.p-green p {
    font-size: 16px;
    color: var(--red);
}

.btn-green {
    background-color: var(--red);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.btn-green:hover {
    background-color: white;
    color: var(--red);
}

.container-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 15px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    border-radius: 20px 0px 20px 0px;
    color: white;
    padding: 10px 0px;
    gap: 5px;
}

.card-text {
    width: 80%;
}

.card-secundario {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 2px solid var(--red);
    background-color: var(--red2);
    padding: 15px;
}
.card-secundario-title {
    font-size: 30px;
}

.card-secundario-content {
    font-size: 20px;
}
.card-secundario img {
    width: 50px;
}
.square-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    padding: 10px 0px;
    gap: 5px;
}









